@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/arimo-v17-latin_hebrew-regular.woff2') format('woff2'),
       url('../fonts/arimo-v17-latin_hebrew-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/arimo-v17-latin_hebrew-700.woff2') format('woff2'), 
       url('../fonts/arimo-v17-latin_hebrew-700.woff') format('woff');
  font-display: swap;  
}